[submodule ".claude"]
	path = .claude
	url = https://github.com/Sevelantis/.claude.git
	ignore = all
[submodule "magbridge-mongodb"]
	path = magbridge-mongodb
	url = https://github.com/mag-bros/magbridge-mongodb.git
	ignore = all
[submodule "devcontainers"]
	path = devcontainers
	url = https://github.com/Sevelantis/devcontainers.git
	ignore = all
